
body{
    background-image: url(Menu.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

#logoPicture{
   margin-bottom: 12px;
}

.logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 20px;
}


.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.menu li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    font-size: 20px;
}

.menu ul{
    margin-left: 300px
}

.contacts { 
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 260px;

}

.language {
    margin-right: 30px;
}

.phoneNumber{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}


select{
    background-color: rgba(143, 39, 91, 0);
    font-size: 18px;
    border-color: rgba(255, 20, 20, 0.075);
}

.number{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

menu{
    display: flex;
    flex-direction: row;
    margin-top: 220px;
}

.nameEyebrowStudio{
    font-size: 50px;
    line-height: 0.8;
}

.nameTATA{
    margin-left: 300px;
    font-size: 60px;
    line-height: 0.1;
}

.prolog{
    font-size: 35px;
    line-height: 2;
}
span{
    color: white;
}

.socialmedia {
    display: flex;
    flex-direction: column;
    margin-left: 850px;
}
#facebook{
    margin-bottom: 10px;
}
#instagram{
    margin-bottom: 10px;
}


.registration{
    margin-left: 40px;
    width: 200px;
    height: 45px;
    background-color: rgba(143, 20, 67, 0.315);
    border: rgb(235, 110, 131);
    color: white;
    transition: 0.3s;
}

.registration:hover{
    transform: scale(1.2) translateX(5px);
}

.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    margin-left: 40px;
    font-size: 20px;
    cursor: pointer;
    background-color:rgba(143, 20, 67, 0.315);
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

